body {
  margin: o auto;
  border: 1px solid grey;
  background-color: rgb(216, 222, 241);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  padding: 10px 1.56%;
  border-bottom: 2px solid rgb(123, 150, 187);
  background-color: rgb(180, 216, 238);
}

main {
  background-color: lightsteelblue;
  padding: 15px 1.56%;
}

aside {
  padding: 15px 1.56%;
  background-color: rgb(135, 159, 189);
}

footer {
  font-size: 0.75em;
  clear: both;
  border-top: 2px solid rgb(123, 150, 187);
  background-color: rgb(180, 216, 238);
  padding: 10px 1.56%;
}

h3 {
  font-size: 1.25em;
  color: rgb(32, 35, 223);
  margin: 10px;
}

h4 {
  font-size: 1.2em;
  color: rgb(33, 66, 165);
  margin: 10px;
}

h5 {
  font-size: 1em;
  color: rgb(170, 74, 138);
  margin: 10px;
}
