body {
  margin: o auto;
  border: 1px solid grey;
  background-color: rgb(183, 189, 209);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  padding: 10px 1.56%;
  border-bottom: 2px solid rgb(123, 150, 187);
  background-color: rgb(180, 216, 238);
}

aside {
  padding: 15px 1.56%;
  background-color: rgb(135, 159, 189);
}

footer {
  font-size: 0.75em;
  clear: both;
  border-top: 2px solid rgb(123, 150, 187);
  background-color: rgb(180, 216, 238);
  padding: 10px 1.56%;
}

.section_social {
  background-color: rgb(205, 219, 231);
  border: 2px solid slategray;
  border-radius: 10px;
  list-style-type: none;
  display: inline-flex;
  padding: 3px;
}

h4 {
  padding: 0;
  margin: 10px 0 15px 25px;
}

.card {
  display: flow-root;
  margin: 20px;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
    "picture"
    "contain";
}

.info {
  display: block;
  margin: 0px 0px 0px 0px;
  list-style-type: none;
}

.avatar {
  width: 75px;
  height: 75px;
  border-radius: 75%;
  margin: 0px -5px 5px 10px;
}

.inform_auth {
  display: flex;
}

.img_prof {
  display: grid;
  width: 70%;
  height: 60%;
  margin-left: 0;
  grid-area: picture;
}

.container {
  width: 70%;
  border: 2px solid blue;
  display: grid;
  grid-area: contain;
}

a.mat_link {
  color: azure;
  text-decoration: underline;
}

.sharing {
  display: flex;
}
/* Reduce size of card for laptop Screen */

@media only screen and (min-width: 760px) {
  .card {
    width: 50%;
    height: 80%;
  }
}
