img.size_big{
    width: 60%;
    margin: auto;
    display: grid;
}
.test{
    display: inline-block;
    font-size: 1em;
}
p.descrition{
    display: flex;
    font-style: italic;
    font-size: 1em;
    text-align: start;
}
figcaption {
    display: grid;
    justify-items: center;
    color: rgb(67, 102, 148);
}
